/.github export-ignore
/instances export-ignore
/test export-ignore
/CHANGELOG.md export-ignore
/constants.php export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon export-ignore
/phpstan-baseline.neon export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
